{# default values are defined here #}

{% if topNavbarItems == undefined %}
{% set topNavbarItems = [
  {text: 'Services', href: 'services.html'},
  {text: 'Gallery', href: 'gallery.html'},
  {text: 'Testimonials', href: 'testimonials.html'},
  {text: 'FAQ', href: 'faq.html'},
  {text: 'Contact Us', href: 'contact.html'},
  {text: 'About', href: 'about.html'},
    ] %}
{% endif %}

{% if bottomNavbarItems == undefined %}
<!--{% set bottomNavbarItems = [
        {text: 'Services', href: 'services.html'},
        {text: 'Gallery', href: 'gallery.html'},
        {text: 'Testimonials', href: 'testimonials.html'},
        {text: 'FAQ', href: 'faq.html'},
        {text: 'Contact Us', href: 'contact.html'},
    ] %}
{% endif %}-->

<section class="header {{ headerClasses }}">
  <div class="header-top-line bg-primary">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-short w-100">

          <a class="navbar-brand font-weight-bold" href="index.html">Everything You Can't</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              {% for item in topNavbarItems %}
              <li class="nav-item">
                <a class="nav-link text-uppercase {{ item.active ? 'active' : '' }}" data-toggle="{{ item.smoothScroll ? 'smooth-scroll' : 'none' }}" href="{{ item.href }}">
                  {{ item.text }}
                  {% if item.active %}
                  <span class="sr-only">(current)</span>
                  {% endif %}
                </a>
              </li>
              {% endfor %}
            </ul>
            {% if topNavbarText %}
            <span class="navbar-text text-uppercase d-flex align-items-center">
              <span class="text-white-70 mr-1">Call us today:</span>
              <span class="text-white mr-1">123-456-7890</span>
              <i class="material-icons fs-1">phone</i>
            </span>
            {% endif %}
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>
