<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>E.Y.C. | About</title>

  <link rel="stylesheet" href="assets/css/vendor.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.css">
</head>

<body>

  <div id="page-start-anchor"></div>

  <!-- header start -->
  {% include 'includes/header.html' with {topNavbarText: true} %}
  <!-- header end -->

  <!-- page title start -->
  <section class="jumbotron jumbotron-fluid mb-0">
    <div class="container">
      <h1 class="jumbotron-title mb-0">About Everything You Can't Landscaping</h1>
    </div>
  </section>
  <!-- page title end -->

  <!-- page content start -->
  <!-- "about" section start -->
  <section class="section" id="about">
    <div class="section-content container">
      <div class="text-center mb-17">
        <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
          All the property mangement service you can imagine and more!
        </small>
        <h1 class="mb-0">Ben Penguin</h1>
      </div>
      <div class="row mb-20">
        <div class="col-12 col-lg-6 mb-9 mb-lg-0">
          <img src="assets/images/image-10.jpg" alt="photo" class="w-100 h-100 object-fit-cover" />
        </div>
        <div class="col-12 col-lg-6">
          <p>This is the section where ben is going to write out what he would like to say about his company and himself
            in the about section. It can be as long or short as he wants and it can display a good ammount of information.</p>
          <ul class="list-unstyled my-14">
            <li class="mb-8 d-flex align-items-center">
              <i class="material-icons text-primary mr-1">check_circle</i>&nbsp;Fully Licenced in CT
            </li>
            <li class="mb-8 d-flex align-items-center">
              <i class="material-icons text-primary mr-1">check_circle</i>&nbsp;Fully Insured
            </li>
            <li class="d-flex align-items-center">
              <i class="material-icons text-primary mr-1">check_circle</i>&nbsp;100% customer satisfaction gaurnteed
            </li>
          </ul>
          <a href="Contact.html" class="btn btn-lg btn-outline-primary">Request a Quote</a>
        </div>
      </div>
      <div class="row mt-6 mt-md-10 mt-lg-17 vertical-divider-light">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card border-0">
            <div class="card-body py-17 px-10 d-flex flex-column align-items-center">
              <div class="card-icon mb-6">
                <img src="assets/images/yelp.svg" alt="yelp icon" width="45">
              </div>
              <div class="fs-1 lh-1 mb-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                4.5 stars on Yelp
              </div>
              <div class="star-rating">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_half</i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card border-0">
            <div class="card-body py-17 px-10 d-flex flex-column align-items-center">
              <div class="card-icon mb-6">
                <img src="assets/images/g.svg" alt="google icon" width="45">
              </div>
              <div class="fs-1 lh-1 mb-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                5 stars on Yelp
              </div>
              <div class="star-rating">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card border-0">
            <div class="card-body py-17 px-10 d-flex flex-column align-items-center">
              <div class="card-icon mb-6">
                <img src="assets/images/houzz.svg" alt="houzz icon" width="45">
              </div>
              <div class="fs-1 lh-1 mb-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                5 stars on Houzz
              </div>
              <div class="star-rating">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card border-0">
            <div class="card-body py-17 px-10 d-flex flex-column align-items-center">
              <div class="card-icon mb-6">
                <img src="assets/images/fb.svg" alt="facebook icon" width="45">
              </div>
              <div class="fs-1 lh-1 mb-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                4.7 stars on Facebook
              </div>
              <div class="star-rating">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_half</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- "about" section end -->

  <!-- page content end -->

  <!-- footer start -->
  {% include 'includes/footer.html' %}
  <!-- footer end -->

  <script src="assets/js/vendor.js"></script>
  <script src="assets/js/polyfills.js"></script>
  <script src="assets/js/app.js"></script>
</body>

</html>
