<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>E.Y.C. | About</title>

  <link rel="stylesheet" href="assets/css/vendor.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.css">
</head>

<body>

  <div id="page-start-anchor"></div>

  <!-- header start -->
  {% include 'includes/header.html' with {ctaButton: {text: 'Request Quote', href: '#'}} %}
  <!-- header end -->
  <!-- page title start -->
  <section class="jumbotron jumbotron-fluid mb-0">
    <div class="container">
      <h1 class="jumbotron-title mb-0">About Everything You Can't Landscaping</h1>
    </div>
  </section>
  <!-- page title end -->

  <!-- page content start -->
  <!-- "about" section start -->
  <section class="hero hero-fullscreen jarallax" data-speed="0.2" style="min-height: calc(100vh - 140px)">
    <div class="hero-background">
      <img src="assets/images/fallstock2.jpg" alt="hero background" class="jarallax-img" />
    </div>
    <div class="hero-foreground d-flex flex-column justify-content-center">
      <div class="d-flex align-items-center justify-content-center py-14 py-md-23 py-lg-25">
        <div class="card border-0 text-center mx-15 mx-lg-0 bg-white-90" style="max-width: 770px">
          <div class="card-body text-body p-10 p-lg-22">

            <div class="section-content container">
              <div class="text-center mb-17">
                <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                  All the property mangement service you can imagine and more!
                </small>
                <h1 class="mb-0">Ben Penguin</h1>
              </div>
              <div class="row mb-20">
                <div class="col-12 col-lg-6 mb-9 mb-lg-0">
                  <img src="assets/images/image-10.jpg" alt="photo" class="w-100 h-100 object-fit-cover" />
                </div>
                <div class="col-12 col-lg-6">
                  <p>This is the section where ben is going to write out what he would like to say about his company and himself
                    in the about section. It can be as long or short as he wants and it can display a good ammount of information.</p>
                  <ul class="list-unstyled my-14">
                    <li class="mb-8 d-flex align-items-center">
                      <i class="material-icons text-primary mr-1">check_circle</i>&nbsp;Fully Licenced in CT
                    </li>
                    <li class="mb-8 d-flex align-items-center">
                      <i class="material-icons text-primary mr-1">check_circle</i>&nbsp;Fully Insured
                    </li>
                    <li class="d-flex align-items-center">
                      <i class="material-icons text-primary mr-1">check_circle</i>&nbsp;100% customer satisfaction gaurnteed
                    </li>
                  </ul>

                </div>
              </div>

            </div>
            <a href="#team" class="btn btn-lg btn-outline-primary">Meet the Team!</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- "about" section end -->
  <!-- "team" section start -->
  <section class="section" id="team">
    <div class="section-content container">
      <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
        Professionals
      </small>
      <h1>Meet the Team</h1>

      <div class="row mt-17 tour-tabs">
        <div class="col-12 col-lg-4 pr-lg-0">
          <div class="tour-tabs-nav tour-tabs-nav-left nav">
            <a href="#tour-tab-1" class="tour-tabs-nav-link" data-toggle="pill">
              <div>
                <img src="assets/images/avatar-1.jpg" alt="avatar 1" width="50" class="rounded-circle" />
              </div>
              <div class="ml-9">
                <h2 class="fs-5 mb-1">Ben Penguin</h2>
                <p class="mb-0 text-muted fs-3">Founder & Ceo</p>
              </div>
            </a>
            <a href="#tour-tab-2" class="tour-tabs-nav-link active" data-toggle="pill">
              <div>
                <img src="assets/images/avatar-2.jpg" alt="avatar 2" width="50" class="rounded-circle" />
              </div>
              <div class="ml-9">
                <h2 class="fs-5 mb-1">Lauren</h2>
                <p class="mb-0 text-muted fs-3">Founder & Ceo</p>
              </div>
            </a>
            <a href="#tour-tab-3" class="tour-tabs-nav-link" data-toggle="pill">
              <div>
                <img src="assets/images/avatar-3.jpg" alt="avatar 3" width="50" class="rounded-circle" />
              </div>
              <div class="ml-9">
                <h2 class="fs-5 mb-1">The Dave</h2>
                <p class="mb-0 text-muted fs-3">Founder & Ceo</p>
              </div>
            </a>
            <a href="#tour-tab-4" class="tour-tabs-nav-link" data-toggle="pill">
              <div>
                <img src="assets/images/avatar-4.jpg" alt="avatar 4" width="50" class="rounded-circle" />
              </div>
              <div class="ml-9">
                <h2 class="fs-5 mb-1">Ben's Cousin</h2>
                <p class="mb-0 text-muted fs-3">Founder & Ceo</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-12 col-lg-8 pl-lg-0 mt-14 mt-lg-0 d-flex">
          <div class="tour-tabs-content tour-tabs-content-right tab-content">
            <div class="tab-pane fade" id="tour-tab-1">
              <div class="row">
                <div class="col-12 col-sm-5">
                  <img src="assets/images/image-5.jpg" alt="team member photo" class="w-100 h-100 object-fit-cover" />
                </div>
                <div class="col-12 col-sm-7 mt-14 mt-sm-0">
                  <h2 class="fs-6 fs-lg-9">Ben Penguin</h2>
                  <div class="fs-5 text-muted">Founder & CEO</div>
                  <p class="mt-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea commodo consequat.</p>
                  <div class="brand-icons-list mt-10">
                    <a href="#" class="brand-icon brand-icon-circle brand-icon-facebook">
                      <i class="fa fa-facebook-f"></i>
                    </a>
                    <a href="#" class="brand-icon brand-icon-circle brand-icon-instagram">
                      <i class="fa fa-instagram"></i>
                    </a>
                    <a href="#" class="brand-icon brand-icon-circle brand-icon-vimeo">
                      <i class="fa fa-vimeo-v"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade show active" id="tour-tab-2">
              <div class="row">
                <div class="col-12 col-sm-5">
                  <img src="assets/images/image-4.jpg" alt="team member photo" class="w-100 h-100 object-fit-cover" />
                </div>
                <div class="col-12 col-sm-7 mt-14 mt-sm-0">
                  <h2 class="fs-6 fs-lg-9">DLauren</h2>
                  <div class="fs-5 text-muted">Founder & CEO</div>
                  <p class="mt-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea commodo consequat.</p>
                  <div class="brand-icons-list mt-10">
                    <a href="#" class="brand-icon brand-icon-circle brand-icon-facebook">
                      <i class="fa fa-facebook-f"></i>
                    </a>
                    <a href="#" class="brand-icon brand-icon-circle brand-icon-twitter">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="brand-icon brand-icon-circle brand-icon-instagram">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tour-tab-3">
              <div class="row">
                <div class="col-12 col-sm-5">
                  <img src="assets/images/image-7.jpg" alt="team member photo" class="w-100 h-100 object-fit-cover" />
                </div>
                <div class="col-12 col-sm-7 mt-14 mt-sm-0">
                  <h2 class="fs-6 fs-lg-9">The Dave</h2>
                  <div class="fs-5 text-muted">Founder & CEO</div>
                  <p class="mt-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea commodo consequat.</p>
                  <div class="brand-icons-list mt-10">
                    <a href="#" class="brand-icon brand-icon-circle brand-icon-tumblr">
                      <i class="fa fa-tumblr"></i>
                    </a>
                    <a href="#" class="brand-icon brand-icon-circle brand-icon-twitter">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="brand-icon brand-icon-circle brand-icon-instagram">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tour-tab-4">
              <div class="row">
                <div class="col-12 col-sm-5">
                  <img src="assets/images/image-6.jpg" alt="team member photo" class="w-100 h-100 object-fit-cover" />
                </div>
                <div class="col-12 col-sm-7 mt-14 mt-sm-0">
                  <h2 class="fs-6 fs-lg-9">Ben's Cousin</h2>
                  <div class="fs-5 text-muted">Founder & CEO</div>
                  <p class="mt-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea commodo consequat.</p>
                  <div class="brand-icons-list mt-10">
                    <a href="#" class="brand-icon brand-icon-circle brand-icon-facebook">
                      <i class="fa fa-facebook-f"></i>
                    </a>
                    <a href="#" class="brand-icon brand-icon-circle brand-icon-twitter">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="brand-icon brand-icon-circle brand-icon-pinterest">
                      <i class="fa fa-pinterest-p"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- "team" section end -->
  <!-- "call to action" section start -->
  <section class="section jarallax text-white" data-jarallax data-speed="0.2">
    <img class="section-background-image jarallax-img" src="assets/images/fallstock1.jpg" alt="background image" />
    <div class="section-background-color" style="background-color: rgba(0, 0, 0, 0.2)"></div>
    <div class="sds-block-foreground sds-block-foreground-test sds-block-foreground-center text-center">

      <h2 class="mt-4 mb-10 fs-7 fs-md-9">Have More Questions?</h1>
      <a href="gallery.html" class="btn btn-lg btn-fallbtn">Frequently Asked Questions</a>
    </div>
  </section>
  <!-- "call to action" section end -->


  <!-- page content end -->

  <!-- footer start -->
  {% include 'includes/footer.html' %}
  <!-- footer end -->

  <script src="assets/js/vendor.js"></script>
  <script src="assets/js/polyfills.js"></script>
  <script src="assets/js/app.js"></script>
</body>

</html>
