<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="google-site-verification" content="8N8LxkKMSnnqiQZa8zCnBpq4b6_ratVYc5MxXZQlMYk" />
  <title>E.Y.C. | Contact</title>

  <link rel="stylesheet" href="assets/css/vendor.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.css">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>

<body data-spy="scroll" data-target="#header-navbar" data-offset="140">

  <div id="page-start-anchor"></div>

  <!-- header start -->
  {% include 'includes/header.html' with {ctaButton: {text: 'Request Quote', href: '#'}} %}
  <!-- header end -->

  <!-- main hero start -->
  <section class="hero hero-fullscreen jarallax" data-speed="0.2" style="min-height: calc(100vh - 140px)">
    <div class="hero-background">
      <img src="assets/images/fallstock2.jpg" alt="hero background" class="jarallax-img" />
      <div class="hero-background-overlay" style="background-color: rgba(0,0,0,.25)"></div>
    </div>
    <div class="hero-foreground hero-foreground-gradient-black-left d-flex flex-column justify-content-center justify-content-md-end">
      <div class="container text-white py-14 py-md-23 py-lg-25 text-center text-md-left">
        <small class="fs-2 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption">
          Have any questions?
        </small>
        <h1 class="fs-10 fs-lg-11 font-weight-bold mt-10 mb-16">
          Contact Us<br />Today
        </h1>
        <div class="d-flex flex-wrap justify-content-center justify-content-md-start">
          <a href="#contacts" class="btn btn-primary btn-lg">Contact Us</a>
        </div>
      </div>
    </div>
  </section>
  <div id="hero-end-anchor"></div>
  <!-- main hero end -->

  <!-- "contacts" section start -->
  <section id="contacts">
    <div class="section bg-secondary">
      <div class="section-content container">
        <div class="text-center">
          <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
            We always answer within 24 hours
          </small>
          <h1>Contact Us</h1>
        </div>
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <form class="row mt-17" method="post" action="email.php" id="form" name="form">
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label for="fullName" class="form-label">Full Name</label>
                  <input type="text" class="form-control" id="fullName" name="fullName" required />
                </div>
              </div>

              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label for="phone" class="form-label">Phone</label>
                  <input type="text" class="form-control" id="phone" name="phone" required />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label for="email" class="form-label">Email</label>
                  <input type="text" class="form-control" id="email" name="email" required />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label for="service" class="form-label">Select the service</label>
                  <select class="custom-select" id="service" name="service">
                    <option value="Brush-Cutting">Brush Cutting</option>
                    <option value="Slope-Mowing">Slope Mowing</option>
                    <option value="Stump-Grinding">Stump Grinding</option>
                    <option value="Trail-Clearing">Trail Clearing</option>
                    <option value="Pond-Mowing">Pond Mowing</option>
                    <option value="Drainage-Clearing">Drainage Clearing</option>

                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label for="zip-code" class="form-label">Your zip code</label>
                  <input type="text" class="form-control" id="zip-code" name="zip-code" required />
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="message" class="form-label">Message</label>
                  <textarea id="message" name="message" class="form-control" rows="3"></textarea>
                </div>
              </div>
              <div class="col-12 d-flex justify-content-between align-items-center flex-column flex-md-row">
                <div class="form-group form-check mb-9 mb-md-0">
                  <input type="checkbox" class="custom-checkbox" id="exampleCheck2" name="exampleCheck2" checked required />
                  <label class="form-check-label" for="exampleCheck2">
                    I've read and agree with the <a href="#">Terms & Policy</a>
                  </label>
                </div>
                <div class="g-recaptcha" data-sitekey="6Lf_msccAAAAAGkQwIngZ3sHnLHTkA47AmyQVsMU"></div>
                <div class="form-group mb-0">
                  <input type="submit" value="Submit">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container py-19 py-lg-20">
      <div class="row vertical-divider-light">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card border-0">
            <div class="card-body py-17 px-10 text-center">
              <div class="card-icon mb-6"><i class="material-icons">location_on</i></div>
              <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                By appointment only
              </div>
              <p class="mb-0 text-body">Ben's Address<br />South Windsor, CT</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card border-0">
            <div class="card-body py-17 px-10 text-center">
              <div class="card-icon mb-6"><i class="material-icons">phone</i></div>
              <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                Mobile phone
              </div>
              <p class="mb-0 text-body">+41 79 123 45 67</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card border-0">
            <div class="card-body py-17 px-10 text-center">
              <div class="card-icon mb-6"><i class="material-icons">access_time</i></div>
              <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                Working hours
              </div>
              <p class="mb-0 text-body">11:00 AM - 9:00 PM</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card border-0">
            <div class="card-body py-17 px-10 text-center">
              <div class="card-icon mb-6"><i class="material-icons">alternate_email</i></div>
              <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                Email
              </div>
              <p class="mb-0 text-body">profi@mail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- "contacts" section end -->

  <!-- "subscribe" modal start -->
  <div class="modal fade" id="subscribe-modal" tabindex="-1">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body px-20 py-19">
          <h2 class="fs-6 fs-md-7 fs-lg-9 text-center mb-12">Subscribe</h2>
          <form action="#" method="post">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="First name" />
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email" />
            </div>
            <div class="form-group form-check fs-2">
              <input type="checkbox" class="custom-checkbox" id="exampleCheck1" checked />
              <label class="form-check-label" for="exampleCheck1">
                I've read and agree with the <a href="#">Terms & Policy</a>
              </label>
            </div>
            <div class="form-group mb-0">
              <button class="btn btn-primary w-100">Subscribe to newsletter</button>
            </div>
          </form>
        </div>
        <button type="button" class="close position-absolute position-top-9 position-right-9" data-dismiss="modal" aria-label="Close">
          <i class="material-icons">close</i>
        </button>
      </div>
    </div>
  </div>
  <!-- "subscribe" modal end -->

  <!-- footer start -->
  {% include 'includes/footer.html' %}
  <!-- footer end -->

  <script src="assets/js/vendor.js"></script>
  <script src="assets/js/polyfills.js"></script>
  <script src="assets/js/app.js"></script>
  <script src="assets/js/contact.js"></script>
  <script src="assets/js/index.js"></script>
  <script src="assets/js/toggleNotification.js"></script>
</body>

</html>
