<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>F.A.Q.</title>

    <link rel="stylesheet" href="assets/css/vendor.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.css">
</head>
<body data-spy="scroll" data-target="#header-navbar" data-offset="140">

<div id="page-start-anchor"></div>

<!-- header start -->
{% include 'includes/header.html' with {ctaButton: {text: 'Request Quote', href: '#'}} %}
<!-- header end -->

<!-- main hero start -->
<section class="hero hero-fullscreen jarallax" data-video="mp4:assets/video/bg.mp4,webm:assets/video/bg.webm" data-speed="0.2" style="min-height: calc(100vh - 140px)">
    <div class="hero-background">
        <img src="assets/images/image-28.jpg" alt="hero background" class="jarallax-img"/>
        <div class="hero-background-overlay" style="background-color: rgba(0,0,0,.5)"></div>
    </div>
    <div class="hero-foreground container d-flex flex-column justify-content-center">
        <div class="py-14 py-md-23 py-lg-25 text-center text-lg-left">
            <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                haircuts, color, makeup, nail
            </small>
            <h1 class="fs-10 fs-lg-11 mt-6 mb-16 font-weight-bold text-white">Beauty Salon<br/>Los Angeles</h1>
            <a href="#" class="btn btn-lg btn-primary">Book online</a>
        </div>
    </div>
</section>
<!-- main hero end -->

<!-- "frequently asked questions" section start -->
<section class="section" id="faq">
    <div class="section-content container">
        <div class="mb-17">
            <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                Frequently Asked Questions
            </small>
            <h1 class="mb-0">FAQ</h1>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <article class="faq faq-open">
                    <header class="faq-header" data-toggle="collapse" data-target="#faq-item-1" aria-expanded="true">
                        <h1 class="faq-title">What is Swedish massage?</h1>
                        <div class="faq-toggle">
                            <i class="material-icons faq-toggle-closed">add</i>
                            <i class="material-icons faq-toggle-open">remove</i>
                        </div>
                    </header>
                    <div class="faq-body collapse show" id="faq-item-1">
                        <p>Dictumst placerat suscipit dui suspendisse lacus ridiculus dis facilisis massa commodo,
                            feugiat sagittis eleifend arcu erat tempor integer sollicitudin metus, mollis bibendum
                            vestibulum diam nec tellus felis tristique pretium.</p>
                    </div>
                </article>
                <article class="faq">
                    <header class="faq-header" data-toggle="collapse" data-target="#faq-item-2" aria-expanded="false">
                        <h1 class="faq-title">What types of services does Blys offer?</h1>
                        <div class="faq-toggle">
                            <i class="material-icons faq-toggle-closed">add</i>
                            <i class="material-icons faq-toggle-open">remove</i>
                        </div>
                    </header>
                    <div class="faq-body collapse" id="faq-item-2">
                        <p>Accumsan nibh facilisis efficitur netus dapibus facilisi proin lacinia, finibus phasellus
                            quis placerat ante per lorem senectus nisl, gravida vestibulum eros aenean sed convallis
                            purus.</p>
                    </div>
                </article>
                <article class="faq">
                    <header class="faq-header" data-toggle="collapse" data-target="#faq-item-3" aria-expanded="false">
                        <h1 class="faq-title">Can I pick my therapist?</h1>
                        <div class="faq-toggle">
                            <i class="material-icons faq-toggle-closed">add</i>
                            <i class="material-icons faq-toggle-open">remove</i>
                        </div>
                    </header>
                    <div class="faq-body collapse" id="faq-item-3">
                        <p>Fames pulvinar fringilla ut lorem sem auctor nunc, aptent cursus convallis nisi penatibus nam
                            gravida, commodo tortor facilisi diam posuere class.</p>
                    </div>
                </article>
                <article class="faq">
                    <header class="faq-header" data-toggle="collapse" data-target="#faq-item-4" aria-expanded="false">
                        <h1 class="faq-title">Can I re-book with the same therapists?</h1>
                        <div class="faq-toggle">
                            <i class="material-icons faq-toggle-closed">add</i>
                            <i class="material-icons faq-toggle-open">remove</i>
                        </div>
                    </header>
                    <div class="faq-body collapse" id="faq-item-4">
                        <p>Nostra ipsum tortor habitasse ante lacinia class, conubia elit taciti pulvinar rhoncus
                            gravida, metus mollis id ut suspendisse.</p>
                    </div>
                </article>
            </div>
            <div class="col-12 col-lg-6">
                <article class="faq">
                    <header class="faq-header" data-toggle="collapse" data-target="#faq-item-5" aria-expanded="false">
                        <h1 class="faq-title">How does Blys Massage at home work?</h1>
                        <div class="faq-toggle">
                            <i class="material-icons faq-toggle-closed">add</i>
                            <i class="material-icons faq-toggle-open">remove</i>
                        </div>
                    </header>
                    <div class="faq-body collapse" id="faq-item-5">
                        <p>Ligula lorem luctus quis litora vulputate fringilla quisque sollicitudin egestas sit viverra,
                            facilisis ante vehicula fames scelerisque libero pulvinar donec aliquet fermentum mus,
                            venenatis ut phasellus natoque inceptos hac nullam porttitor vel tristique.</p>
                    </div>
                </article>
                <article class="faq">
                    <header class="faq-header" data-toggle="collapse" data-target="#faq-item-6" aria-expanded="false">
                        <h1 class="faq-title">What types of services does Blys offer?</h1>
                        <div class="faq-toggle">
                            <i class="material-icons faq-toggle-closed">add</i>
                            <i class="material-icons faq-toggle-open">remove</i>
                        </div>
                    </header>
                    <div class="faq-body collapse" id="faq-item-6">
                        <p>Nascetur platea tincidunt lorem aenean vehicula vitae consequat, suspendisse eu iaculis velit
                            finibus quisque, enim amet tempor odio maecenas varius mus, lacus urna sodales aliquam
                            lobortis.</p>
                    </div>
                </article>
                <article class="faq">
                    <header class="faq-header" data-toggle="collapse" data-target="#faq-item-7" aria-expanded="false">
                        <h1 class="faq-title">Can I pick my therapist?</h1>
                        <div class="faq-toggle">
                            <i class="material-icons faq-toggle-closed">add</i>
                            <i class="material-icons faq-toggle-open">remove</i>
                        </div>
                    </header>
                    <div class="faq-body collapse" id="faq-item-7">
                        <p>Eros sociosqu egestas hac varius netus iaculis posuere dis, maximus sed dapibus senectus
                            malesuada rutrum donec facilisi, ullamcorper aliquet pulvinar nostra fames amet
                            nascetur.</p>
                    </div>
                </article>
                <article class="faq">
                    <header class="faq-header" data-toggle="collapse" data-target="#faq-item-8" aria-expanded="false">
                        <h1 class="faq-title">Can I re-book with the same therapists?</h1>
                        <div class="faq-toggle">
                            <i class="material-icons faq-toggle-closed">add</i>
                            <i class="material-icons faq-toggle-open">remove</i>
                        </div>
                    </header>
                    <div class="faq-body collapse" id="faq-item-8">
                        <p>Fusce erat hac iaculis interdum faucibus tempus vivamus, justo consectetur maximus tristique
                            turpis mi tortor, purus odio magna tellus in fermentum.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- "frequently asked questions" section end -->



<!-- "call to action" section start -->
<section class="section jarallax text-white" data-jarallax data-speed="0.2">
    <img class="section-background-image jarallax-img" src="assets/images/image-27.jpg" alt="background image"/>
    <div class="section-background-color" style="background-color: rgba(0, 0, 0, 0.2)"></div>
    <div class="section-content container text-center d-flex flex-column align-items-center">
        <span class="badge badge-pill badge-ghost fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption">
            Easy 3 steps online booking
        </span>
        <h1 class="mt-5 mb-15 fs-9 fs-md-10">Ready to get new look?</h1>
        <a href="#" class="btn btn-lg btn-primary">Book now</a>
    </div>
</section>
<!-- "call to action" section end -->

<!-- "our work" section start -->
<section class="section bg-secondary" id="our-work">
    <div class="section-content text-center container">
        <div class="d-flex justify-content-center justify-content-md-between align-items-end">
            <div class="text-center text-md-left">
                <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                    Our lovely clients
                </small>
                <h1>Our Work</h1>
            </div>
            <div class="d-none d-md-block">
                <div class="btn-group">
                    <div class="radio-buttons-group border-0" data-toggle="shuffle-grid" data-target="#projects-grid">
                        <button class="btn btn-light selected" data-value="all">All</button>
                        <button class="btn btn-light" data-value="haircut">Haircuts</button>
                        <button class="btn btn-light" data-value="makeup">Makeup</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="shuffle-grid shuffle-grid-gap-14 shuffle-grid-cols-1 shuffle-grid-cols-md-2 shuffle-grid-cols-xl-4 mt-14" id="projects-grid">
            <div class="shuffle-grid-item" data-groups="makeup">
                <div class="card card-square bg-transparent border-0">
                    <div class="card-bg" style="background-image: url(assets/images/image-55.jpg)"></div>
                    <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
                    <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
                        <i class="material-icons fs-8">zoom_in</i>
                    </div>
                    <a href="#" class="card-link-overlay"></a>
                </div>
            </div>
            <div class="shuffle-grid-item" data-groups="haircut">
                <div class="card card-square bg-transparent border-0">
                    <div class="card-bg" style="background-image: url(assets/images/image-56.jpg)"></div>
                    <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
                    <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
                        <i class="material-icons fs-8">zoom_in</i>
                    </div>
                    <a href="#" class="card-link-overlay"></a>
                </div>
            </div>
            <div class="shuffle-grid-item" data-groups="makeup">
                <div class="card card-square bg-transparent border-0">
                    <div class="card-bg" style="background-image: url(assets/images/image-57.jpg)"></div>
                    <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
                    <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
                        <i class="material-icons fs-8">zoom_in</i>
                    </div>
                    <a href="#" class="card-link-overlay"></a>
                </div>
            </div>
            <div class="shuffle-grid-item" data-groups="haircut,makeup">
                <div class="card card-square bg-transparent border-0">
                    <div class="card-bg" style="background-image: url(assets/images/image-58.jpg)"></div>
                    <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
                    <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
                        <i class="material-icons fs-8">zoom_in</i>
                    </div>
                    <a href="#" class="card-link-overlay"></a>
                </div>
            </div>
            <div class="shuffle-grid-item" data-groups="haircut,makeup">
                <div class="card card-square bg-transparent border-0">
                    <div class="card-bg" style="background-image: url(assets/images/image-59.jpg)"></div>
                    <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
                    <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
                        <i class="material-icons fs-8">zoom_in</i>
                    </div>
                    <a href="#" class="card-link-overlay"></a>
                </div>
            </div>
            <div class="shuffle-grid-item" data-groups="makeup">
                <div class="card card-square bg-transparent border-0">
                    <div class="card-bg" style="background-image: url(assets/images/image-60.jpg)"></div>
                    <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
                    <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
                        <i class="material-icons fs-8">zoom_in</i>
                    </div>
                    <a href="#" class="card-link-overlay"></a>
                </div>
            </div>
            <div class="shuffle-grid-item" data-groups="haircut">
                <div class="card card-square bg-transparent border-0">
                    <div class="card-bg" style="background-image: url(assets/images/image-61.jpg)"></div>
                    <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
                    <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
                        <i class="material-icons fs-8">zoom_in</i>
                    </div>
                    <a href="#" class="card-link-overlay"></a>
                </div>
            </div>
            <div class="shuffle-grid-item" data-groups="makeup">
                <div class="card card-square bg-transparent border-0">
                    <div class="card-bg" style="background-image: url(assets/images/image-62.jpg)"></div>
                    <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
                    <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
                        <i class="material-icons fs-8">zoom_in</i>
                    </div>
                    <a href="#" class="card-link-overlay"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- "our work" section end -->

<!-- "frequently asked questions" section start -->
<section class="section" id="faq">
    <div class="section-content container">
        <h1 class="mb-17 text-center">FAQ</h1>
        <article class="faq faq-open">
            <header class="faq-header" data-toggle="collapse" data-target="#faq-item-1" aria-expanded="true">
                <h1 class="faq-title">What is Swedish massage?</h1>
                <div class="faq-toggle">
                    <i class="material-icons faq-toggle-closed">add</i>
                    <i class="material-icons faq-toggle-open">remove</i>
                </div>
            </header>
            <div class="faq-body collapse show" id="faq-item-1">
                <p>Dictumst placerat suscipit dui suspendisse lacus ridiculus dis facilisis massa commodo,
                    feugiat sagittis eleifend arcu erat tempor integer sollicitudin metus, mollis bibendum
                    vestibulum diam nec tellus felis tristique pretium.</p>
            </div>
        </article>
        <article class="faq">
            <header class="faq-header" data-toggle="collapse" data-target="#faq-item-2" aria-expanded="false">
                <h1 class="faq-title">What types of services does Blys offer?</h1>
                <div class="faq-toggle">
                    <i class="material-icons faq-toggle-closed">add</i>
                    <i class="material-icons faq-toggle-open">remove</i>
                </div>
            </header>
            <div class="faq-body collapse" id="faq-item-2">
                <p>Accumsan nibh facilisis efficitur netus dapibus facilisi proin lacinia, finibus phasellus
                    quis placerat ante per lorem senectus nisl, gravida vestibulum eros aenean sed convallis
                    purus.</p>
            </div>
        </article>
        <article class="faq">
            <header class="faq-header" data-toggle="collapse" data-target="#faq-item-3" aria-expanded="false">
                <h1 class="faq-title">Can I pick my therapist?</h1>
                <div class="faq-toggle">
                    <i class="material-icons faq-toggle-closed">add</i>
                    <i class="material-icons faq-toggle-open">remove</i>
                </div>
            </header>
            <div class="faq-body collapse" id="faq-item-3">
                <p>Fames pulvinar fringilla ut lorem sem auctor nunc, aptent cursus convallis nisi penatibus nam
                    gravida, commodo tortor facilisi diam posuere class.</p>
            </div>
        </article>
        <article class="faq">
            <header class="faq-header" data-toggle="collapse" data-target="#faq-item-4" aria-expanded="false">
                <h1 class="faq-title">Can I re-book with the same therapists?</h1>
                <div class="faq-toggle">
                    <i class="material-icons faq-toggle-closed">add</i>
                    <i class="material-icons faq-toggle-open">remove</i>
                </div>
            </header>
            <div class="faq-body collapse" id="faq-item-4">
                <p>Nostra ipsum tortor habitasse ante lacinia class, conubia elit taciti pulvinar rhoncus
                    gravida, metus mollis id ut suspendisse.</p>
            </div>
        </article>
    </div>
</section>
<!-- "frequently asked questions" section end -->

<!-- "vouchers" section start -->
<section class="section jarallax" data-jarallax data-speed="0.2" id="vouchers">
    <img class="section-background-image jarallax-img" src="assets/images/image-14.jpg" alt="background image"/>
    <div class="section-background-color" style="background-color: rgba(0, 0, 0, 0.25)"></div>
    <div class="section-content container">
        <div class="text-center text-white mb-17">
            <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption">
                SPA QUALITY MASSAGES
            </small>
            <h1 class="mb-0">Gift Vouchers</h1>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 mb-14 mb-lg-0">
                <div class="card border-0">
                    <div class="card-body d-flex flex-column p-19 p-md-20" data-mh="gift-vouchers">
                        <h1 class="fs-6 fs-md-8 fs-xl-9 mb-12">Single Massage</h1>
                        <p class="mb-12">A single session of 60, 90 or 120min in-home massage.</p>
                        <div class="price fs-7 text-black mb-12">
                            <div class="price-currency pr-0">$</div>
                            <div class="price-value">110</div>
                        </div>
                        <a href="#" class="btn btn-outline-primary d-block">Get voucher</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-14 mb-lg-0">
                <div class="card border-0">
                    <div class="card-body d-flex flex-column p-19 p-md-20" data-mh="gift-vouchers">
                        <div class="ribbon ribbon-left ribbon-danger ribbon-float-top-right mt-9 px-10">Popular</div>
                        <h1 class="fs-6 fs-md-8 fs-xl-9 mb-12">Ultimate Package</h1>
                        <p class="mb-12">A special package of 5 or 10 massages of ultimate bliss.</p>
                        <div class="price fs-7 text-black mb-12">
                            <div class="price-currency pr-0">$</div>
                            <div class="price-value">190</div>
                        </div>
                        <a href="#" class="btn btn-outline-primary d-block">Get voucher</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card border-0 bg-primary text-white">
                    <div class="card-body d-flex flex-column p-19 p-md-20" data-mh="gift-vouchers">
                        <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-white-50">
                            Redeem Gift
                        </small>
                        <h1 class="fs-6 fs-md-8 fs-xl-9 mb-12">Book your massage</h1>
                        <p class="mb-12 text-white">Received a gift voucher? Book your massage here.</p>
                        <a href="#" class="btn btn-outline-light d-block mt-auto">Get voucher</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- "vouchers" section end -->

<!-- "contacts" section start -->
<section class="section" id="contacts">
    <div class="section-content container">
        <div class="row">
            <div class="col-12 col-lg-8 mb-14 mb-lg-0">
                <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                    We answer within 24 hours
                </small>
                <h1>Contact Us</h1>
                <form action="#" class="row mt-17">
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="first_name" class="form-label">First name</label>
                            <input type="text" class="form-control" id="first_name"/>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="last_name" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="last_name"/>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="phone" class="form-label">Phone</label>
                            <input type="text" class="form-control" id="phone"/>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="email"/>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="message" class="form-label">Message</label>
                            <textarea id="message" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="custom-checkbox" id="exampleCheck2" checked/>
                            <label class="form-check-label" for="exampleCheck2">
                                I've read and agree with the <a href="#">Terms & Policy</a>
                            </label>
                        </div>
                        <div class="form-group mb-0">
                            <button class="btn btn-primary btn-lg">Send message</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card border-0 bg-secondary mb-4 ml-lg-9">
                    <div class="card-body py-17 px-10 text-center">
                        <div class="card-icon mb-6"><i class="material-icons">map</i></div>
                        <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                            Our address
                        </div>
                        <p class="mb-0 text-body">Brooklyn, NY 11204. 9359<br/>Hollow Lane. NY 11706.</p>
                    </div>
                </div>
                <div class="card border-0 bg-secondary mb-4 ml-lg-9">
                    <div class="card-body py-17 px-10 text-center">
                        <div class="card-icon mb-6"><i class="material-icons">phone</i></div>
                        <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                            Mobile Phone
                        </div>
                        <p class="mb-0 text-body">(917) 494 - 4476</p>
                    </div>
                </div>
                <div class="card border-0 bg-secondary ml-lg-9">
                    <div class="card-body py-17 px-10 text-center">
                        <div class="card-icon mb-6"><i class="material-icons">access_time</i></div>
                        <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                            Working Hours
                        </div>
                        <p class="mb-0 text-body">11:00 AM - 9:00 PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- "contacts" section end -->

<!-- footer start -->
{% include 'includes/footer.html' %}
<!-- footer end -->

<script src="assets/js/vendor.js"></script>
<script src="assets/js/polyfills.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
