<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="google-site-verification" content="8N8LxkKMSnnqiQZa8zCnBpq4b6_ratVYc5MxXZQlMYk" />
  <title>E.Y.C | FAQ</title>

  <link rel="stylesheet" href="assets/css/vendor.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.css">
</head>

<body data-spy="scroll" data-target="#header-navbar" data-offset="140">

  <div id="page-start-anchor"></div>

  <!-- header start -->
  {% include 'includes/header.html' with {ctaButton: {text: 'Request Quote', href: '#'}} %}
  <!-- header end -->

  <!-- main hero start -->
  <section class="hero hero-fullscreen jarallax" data-video="mp4:assets/video/bg2.mp4,webm:assets/video/bg2.webm" data-speed="0.2" style="min-height: calc(100vh - 140px)">
    <div class="hero-background">
      <img src="assets/images/image-02.jpg" alt="hero background" class="jarallax-img" />
      <div class="hero-background-overlay" style="background-color: rgba(0,0,0,.5)"></div>
    </div>
    <div class="hero-foreground container d-flex flex-column justify-content-center">
      <div class="py-14 py-md-23 py-lg-25 text-center text-lg-left">
        <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
          Have any questions?
        </small>
        <h1 class="fs-10 fs-lg-11 mt-6 mb-16 font-weight-bold text-white">Frequently<br />Asked<br />Questions</h1>

      </div>
    </div>
  </section>
  <!-- main hero end -->

  <!-- "frequently asked questions" section start -->
  <section class="section" id="faq">
    <div class="section-content container">
      <div class="mb-17">
        <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
          Frequently Asked Questions
        </small>
        <h1 class="mb-0">FAQ</h1>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6">
          <article class="faq faq-open">
            <header class="faq-header" data-toggle="collapse" data-target="#faq-item-1" aria-expanded="true">
              <h1 class="faq-title">What do we do?</h1>
              <div class="faq-toggle">
                <i class="material-icons faq-toggle-closed">add</i>
                <i class="material-icons faq-toggle-open">remove</i>
              </div>
            </header>
            <div class="faq-body collapse show" id="faq-item-1">
              <p>We provide you with a complete four-season total landscaping solution. We do it all from stump grinding, hedge trimming and finish mowing to
                leaf collection, brush and snow removal. Our crews are trained and equiped to handle any job of any size in any envirnoment!</p>
            </div>
          </article>

          <article class="faq">
            <header class="faq-header" data-toggle="collapse" data-target="#faq-item-3" aria-expanded="false">
              <h1 class="faq-title">Can I pick individual services from the comprehensive list?</h1>
              <div class="faq-toggle">
                <i class="material-icons faq-toggle-closed">add</i>
                <i class="material-icons faq-toggle-open">remove</i>
              </div>
            </header>
            <div class="faq-body collapse" id="faq-item-3">
              <p>You may absolutley pick individual services from the list provided by the staff member, and we will proivde you with a
                price for the individual service or services selected. </p>
            </div>
          </article>
          <article class="faq">
            <header class="faq-header" data-toggle="collapse" data-target="#faq-item-4" aria-expanded="false">
              <h1 class="faq-title">How do I know that I'm getting the best price?</h1>
              <div class="faq-toggle">
                <i class="material-icons faq-toggle-closed">add</i>
                <i class="material-icons faq-toggle-open">remove</i>
              </div>
            </header>
            <div class="faq-body collapse" id="faq-item-4">
              <p>Our specialty landscaping equipment provides us the oppertunity to accomplish a wide range of tasks across all four seasons.
                This elminates a large portion of convental overhead associated with landscaping jobs, allow us to pass those savings onto our
                customers.
              </p>
            </div>
          </article>
          <article class="faq">
            <header class="faq-header" data-toggle="collapse" data-target="#faq-item-5" aria-expanded="false">
              <h1 class="faq-title">Interested in slope work?</h1>
              <div class="faq-toggle">
                <i class="material-icons faq-toggle-closed">add</i>
                <i class="material-icons faq-toggle-open">remove</i>
              </div>
            </header>
            <div class="faq-body collapse" id="faq-item-5">
              <p>Here at E.Y.C. we invested in cutting edge equipment that allows us to work safely and
                efficiently on slopes up to and exceeding 30 degrees. Finally, you can reclaim your property
                once inaccessible to traditional mowing equipment.
              </p>
            </div>
          </article>
        </div>
        <div class="col-12 col-lg-6">
          <article class="faq">
            <header class="faq-header" data-toggle="collapse" data-target="#faq-item-6" aria-expanded="false">
              <h1 class="faq-title">How quickly can I get a quote?</h1>
              <div class="faq-toggle">
                <i class="material-icons faq-toggle-closed">add</i>
                <i class="material-icons faq-toggle-open">remove</i>
              </div>
            </header>
            <div class="faq-body collapse" id="faq-item-6">
              <p>We can have someone out to your property to give you a quote in one to five business days. Please visit the <a href="contact.html">contact</a>
                page to set up a time!</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  <!-- "frequently asked questions" section end -->


  <!-- "call to action" section start -->
  <section class="section jarallax text-white" data-jarallax data-speed="0.2">
    <img class="section-background-image jarallax-img" src="assets/images/fallstock1.jpg" alt="background image" />
    <div class="section-background-color" style="background-color: rgba(0, 0, 0, 0.2)"></div>
    <div class="section-content container d-flex flex-column align-items-center">
      <div class="sds-block-foreground sds-block-foreground-test sds-block-foreground-left text-center">

        <h2 class="mt-4 mb-10 fs-7 fs-md-9">Want to see more?</h1>
          <a href="gallery.html" class="btn btn-lg btn-fallbtn">View our Gallery</a>
      </div>
      </br>
      <span class="badge badge-pill badge-ghost fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption">
        or
      </span>
      </br>
      <div class="sds-block-foreground sds-block-foreground-test sds-block-foreground-right text-center">
        <h2 class="mt-4 mb-10 fs-7 fs-md-9">See what our customers think!</h1>
          </br>
          <a href="testimonials.html" class="btn btn-fallbtn btn-lg">Testimonials</a>
      </div>
    </div>
  </section>
  <!-- "call to action" section end -->

  <!-- footer start -->
  {% include 'includes/footer.html' %}
  <!-- footer end -->

  <script src="assets/js/vendor.js"></script>
  <script src="assets/js/polyfills.js"></script>
  <script src="assets/js/app.js"></script>
</body>

</html>
