<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>F.A.Q.</title>

  <link rel="stylesheet" href="assets/css/vendor.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.css">
</head>

<body data-spy="scroll" data-target="#header-navbar" data-offset="140">

  <div id="page-start-anchor"></div>

  <!-- header start -->
  {% include 'includes/header.html' with {ctaButton: {text: 'Request Quote', href: '#'}} %}
  <!-- header end -->

  <!-- main hero start -->
  <section class="hero hero-fullscreen jarallax" data-video="mp4:assets/video/bg.mp4,webm:assets/video/bg.webm" data-speed="0.2" style="min-height: calc(100vh - 140px)">
    <div class="hero-background">
      <img src="assets/images/image-28.jpg" alt="hero background" class="jarallax-img" />
      <div class="hero-background-overlay" style="background-color: rgba(0,0,0,.5)"></div>
    </div>
    <div class="hero-foreground container d-flex flex-column justify-content-center">
      <div class="py-14 py-md-23 py-lg-25 text-center text-lg-left">
        <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
          haircuts, color, makeup, nail
        </small>
        <h1 class="fs-10 fs-lg-11 mt-6 mb-16 font-weight-bold text-white">Beauty Salon<br />Los Angeles</h1>
        <a href="#" class="btn btn-lg btn-primary">Book online</a>
      </div>
    </div>
  </section>
  <!-- main hero end -->

  <!-- "frequently asked questions" section start -->
  <section class="section" id="faq">
    <div class="section-content container">
      <div class="mb-17">
        <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
          Frequently Asked Questions
        </small>
        <h1 class="mb-0">FAQ</h1>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6">
          <article class="faq faq-open">
            <header class="faq-header" data-toggle="collapse" data-target="#faq-item-1" aria-expanded="true">
              <h1 class="faq-title">What is Swedish massage?</h1>
              <div class="faq-toggle">
                <i class="material-icons faq-toggle-closed">add</i>
                <i class="material-icons faq-toggle-open">remove</i>
              </div>
            </header>
            <div class="faq-body collapse show" id="faq-item-1">
              <p>Dictumst placerat suscipit dui suspendisse lacus ridiculus dis facilisis massa commodo,
                feugiat sagittis eleifend arcu erat tempor integer sollicitudin metus, mollis bibendum
                vestibulum diam nec tellus felis tristique pretium.</p>
            </div>
          </article>
          <article class="faq">
            <header class="faq-header" data-toggle="collapse" data-target="#faq-item-2" aria-expanded="false">
              <h1 class="faq-title">What types of services does Blys offer?</h1>
              <div class="faq-toggle">
                <i class="material-icons faq-toggle-closed">add</i>
                <i class="material-icons faq-toggle-open">remove</i>
              </div>
            </header>
            <div class="faq-body collapse" id="faq-item-2">
              <p>Accumsan nibh facilisis efficitur netus dapibus facilisi proin lacinia, finibus phasellus
                quis placerat ante per lorem senectus nisl, gravida vestibulum eros aenean sed convallis
                purus.</p>
            </div>
          </article>
          <article class="faq">
            <header class="faq-header" data-toggle="collapse" data-target="#faq-item-3" aria-expanded="false">
              <h1 class="faq-title">Can I pick my therapist?</h1>
              <div class="faq-toggle">
                <i class="material-icons faq-toggle-closed">add</i>
                <i class="material-icons faq-toggle-open">remove</i>
              </div>
            </header>
            <div class="faq-body collapse" id="faq-item-3">
              <p>Fames pulvinar fringilla ut lorem sem auctor nunc, aptent cursus convallis nisi penatibus nam
                gravida, commodo tortor facilisi diam posuere class.</p>
            </div>
          </article>
          <article class="faq">
            <header class="faq-header" data-toggle="collapse" data-target="#faq-item-4" aria-expanded="false">
              <h1 class="faq-title">Can I re-book with the same therapists?</h1>
              <div class="faq-toggle">
                <i class="material-icons faq-toggle-closed">add</i>
                <i class="material-icons faq-toggle-open">remove</i>
              </div>
            </header>
            <div class="faq-body collapse" id="faq-item-4">
              <p>Nostra ipsum tortor habitasse ante lacinia class, conubia elit taciti pulvinar rhoncus
                gravida, metus mollis id ut suspendisse.</p>
            </div>
          </article>
        </div>
        <div class="col-12 col-lg-6">
          <article class="faq">
            <header class="faq-header" data-toggle="collapse" data-target="#faq-item-5" aria-expanded="false">
              <h1 class="faq-title">How does Blys Massage at home work?</h1>
              <div class="faq-toggle">
                <i class="material-icons faq-toggle-closed">add</i>
                <i class="material-icons faq-toggle-open">remove</i>
              </div>
            </header>
            <div class="faq-body collapse" id="faq-item-5">
              <p>Ligula lorem luctus quis litora vulputate fringilla quisque sollicitudin egestas sit viverra,
                facilisis ante vehicula fames scelerisque libero pulvinar donec aliquet fermentum mus,
                venenatis ut phasellus natoque inceptos hac nullam porttitor vel tristique.</p>
            </div>
          </article>
          <article class="faq">
            <header class="faq-header" data-toggle="collapse" data-target="#faq-item-6" aria-expanded="false">
              <h1 class="faq-title">What types of services does Blys offer?</h1>
              <div class="faq-toggle">
                <i class="material-icons faq-toggle-closed">add</i>
                <i class="material-icons faq-toggle-open">remove</i>
              </div>
            </header>
            <div class="faq-body collapse" id="faq-item-6">
              <p>Nascetur platea tincidunt lorem aenean vehicula vitae consequat, suspendisse eu iaculis velit
                finibus quisque, enim amet tempor odio maecenas varius mus, lacus urna sodales aliquam
                lobortis.</p>
            </div>
          </article>
          <article class="faq">
            <header class="faq-header" data-toggle="collapse" data-target="#faq-item-7" aria-expanded="false">
              <h1 class="faq-title">Can I pick my therapist?</h1>
              <div class="faq-toggle">
                <i class="material-icons faq-toggle-closed">add</i>
                <i class="material-icons faq-toggle-open">remove</i>
              </div>
            </header>
            <div class="faq-body collapse" id="faq-item-7">
              <p>Eros sociosqu egestas hac varius netus iaculis posuere dis, maximus sed dapibus senectus
                malesuada rutrum donec facilisi, ullamcorper aliquet pulvinar nostra fames amet
                nascetur.</p>
            </div>
          </article>
          <article class="faq">
            <header class="faq-header" data-toggle="collapse" data-target="#faq-item-8" aria-expanded="false">
              <h1 class="faq-title">Can I re-book with the same therapists?</h1>
              <div class="faq-toggle">
                <i class="material-icons faq-toggle-closed">add</i>
                <i class="material-icons faq-toggle-open">remove</i>
              </div>
            </header>
            <div class="faq-body collapse" id="faq-item-8">
              <p>Fusce erat hac iaculis interdum faucibus tempus vivamus, justo consectetur maximus tristique
                turpis mi tortor, purus odio magna tellus in fermentum.</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  <!-- "frequently asked questions" section end -->

  <!-- footer start -->
  {% include 'includes/footer.html' %}
  <!-- footer end -->

  <script src="assets/js/vendor.js"></script>
  <script src="assets/js/polyfills.js"></script>
  <script src="assets/js/app.js"></script>
</body>

</html>
