<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>E.Y.C. | Gallery</title>

  <link rel="stylesheet" href="assets/css/vendor.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body data-spy="scroll" data-target="#header-navbar" data-offset="140">

  <div id="page-start-anchor"></div>

  <!-- header start -->
  {% include 'includes/header.html' with {ctaButton: {text: 'Request Quote', href: '#'}} %}
  <!-- header end -->

  <!-- main hero start -->
  <section class="hero hero-fullscreen jarallax" data-video="mp4:assets/video/bg.mp4,webm:assets/video/bg.webm" data-speed="0.2" style="min-height: calc(100vh - 140px)">
    <div class="hero-background">
      <img src="assets/images/image-28.jpg" alt="hero background" class="jarallax-img" />
      <div class="hero-background-overlay" style="background-color: rgba(0,0,0,.5)"></div>
    </div>
    <div class="hero-foreground container d-flex flex-column justify-content-center">
      <div class="py-14 py-md-23 py-lg-25 text-center text-lg-left">
        <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
          Spring, Summer, Fall, and Winter
        </small>
        <h1 class="fs-10 fs-lg-11 mt-6 mb-16 font-weight-bold text-white">All Season<br />Photo Gallery</h1>
        <a href="#gallery" class="btn btn-lg btn-primary">Gallery</a>
      </div>
    </div>
  </section>
  <!-- main hero end -->

  <!-- Fall Gallery section start -->
  <section class="section bg-secondary" id="fall-gallery">
    <div class="section-content container mt-20">
      <div class="text-center text-md-left">
        <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
          Sesonal work
        </small>
        <h1>Fall</h1>
      </div>
      <div class="image-slider">
        <a href="#" class="image-slider-prev d-none d-md-flex">
          <i class="material-icons">arrow_back</i>
        </a>
        <a href="#" class="image-slider-next d-none d-md-flex">
          <i class="material-icons">arrow_forward</i>
        </a>
        <div class="image-slider-contents">
          <div class="image-slider-item">
            <img src="assets/images/image-26.jpg" alt="image" class="object-fit-cover w-100" height="600" />
          </div>
          <div class="image-slider-item">
            <img src="assets/images/image-27.jpg" alt="image" class="object-fit-cover w-100" height="600" />
          </div>
        </div>
      </div>
      <div class="bg-primary p-19 p-lg-20 d-flex justify-content-between flex-column flex-lg-row">
        <p class="mb-lg-0 text-white" style="max-width: 700px">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco.</p>
      </div>
    </div>
  </section>
  <!-- Fall Gallery section end -->
  </br>
  <!--Winter Gallery start-->
  <section class="section bg-secondary" id="winter-gallery">
    <div class="section-content container mt-20">
      <div class="text-center text-md-left">
        <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
          Sesonal work
        </small>
        <h1>Winter</h1>
      </div>
      <div class="image-slider">
        <a href="#" class="image-slider-prev d-none d-md-flex">
          <i class="material-icons">arrow_back</i>
        </a>
        <a href="#" class="image-slider-next d-none d-md-flex">
          <i class="material-icons">arrow_forward</i>
        </a>
        <div class="image-slider-contents">
          <div class="image-slider-item">
            <img src="assets/images/image-26.jpg" alt="image" class="object-fit-cover w-100" height="600" />
          </div>
          <div class="image-slider-item">
            <img src="assets/images/image-27.jpg" alt="image" class="object-fit-cover w-100" height="600" />
          </div>
        </div>
      </div>
      <div class="bg-primary p-19 p-lg-20 d-flex justify-content-between flex-column flex-lg-row">
        <p class="mb-lg-0 text-white" style="max-width: 700px">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco.</p>
      </div>
    </div>
  </section>
  <!--Winter Gallery end-->
  </br>
  <!--Spring Gallery start-->
  <section class="section bg-secondary" id="spring-gallery">
    <div class="section-content container mt-20">
      <div class="text-center text-md-left">
        <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
          Sesonal work
        </small>
        <h1>Spring</h1>
      </div>
      <div class="image-slider">
        <a href="#" class="image-slider-prev d-none d-md-flex">
          <i class="material-icons">arrow_back</i>
        </a>
        <a href="#" class="image-slider-next d-none d-md-flex">
          <i class="material-icons">arrow_forward</i>
        </a>
        <div class="image-slider-contents">
          <div class="image-slider-item">
            <img src="assets/images/image-26.jpg" alt="image" class="object-fit-cover w-100" height="600" />
          </div>
          <div class="image-slider-item">
            <img src="assets/images/image-27.jpg" alt="image" class="object-fit-cover w-100" height="600" />
          </div>
        </div>
      </div>
      <div class="bg-primary p-19 p-lg-20 d-flex justify-content-between flex-column flex-lg-row">
        <p class="mb-lg-0 text-white" style="max-width: 700px">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco.</p>
      </div>
    </div>
  </section>
  <!--Spring Gallery end-->
  </br>

  <!--Summer Gallery start-->
  <section class="section bg-secondary" id="spring-gallery">
    <div class="section-content container mt-20">
      <div class="text-center text-md-left">
        <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
          Sesonal work
        </small>
        <h1>Summer</h1>
      </div>
      <div class="image-slider">
        <a href="#" class="image-slider-prev d-none d-md-flex">
          <i class="material-icons">arrow_back</i>
        </a>
        <a href="#" class="image-slider-next d-none d-md-flex">
          <i class="material-icons">arrow_forward</i>
        </a>
        <div class="image-slider-contents">
          <div class="image-slider-item">
            <img src="assets/images/image-26.jpg" alt="image" class="object-fit-cover w-100" height="600" />
          </div>
          <div class="image-slider-item">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Stock Image 5" data-image="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
              data-target="#image-gallery">
              <img class="img-thumbnail" src="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Another alt text">
            </a>
          </div>
        </div>
      </div>
      <div class="bg-primary p-19 p-lg-20 d-flex justify-content-between flex-column flex-lg-row">
        <p class="mb-lg-0 text-white" style="max-width: 700px">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco.</p>

      </div>
    </div>
  </section>
  <!--summer Gallery section end -->

  <!--lightbox hidden elements-->
  <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="image-gallery-title"></h4>
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
          </button>
        </div>
        <div class="modal-body">
          <img id="image-gallery-image" class="img-responsive col-md-12" src="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
          </button>

          <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>


  <!-- "call to action" section start -->
  <section class="section jarallax text-white" data-jarallax data-speed="0.2">
    <img class="section-background-image jarallax-img" src="assets/images/fallstock1.jpg" alt="background image" />
    <div class="section-background-color" style="background-color: rgba(0, 0, 0, 0.2)"></div>
    <div class="section-content container d-flex flex-column align-items-center">
      <div class="sds-block-foreground sds-block-foreground-test sds-block-foreground-left text-center">

        <h2 class="mt-4 mb-10 fs-7 fs-md-9">See what our customers think!</h1>
          <a href="testimonials.html" class="btn btn-lg btn-fallbtn">Testimonials</a>
      </div>
      </br>
      <span class="badge badge-pill badge-ghost fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption">
        or
      </span>
      </br>
      <div class="sds-block-foreground sds-block-foreground-test sds-block-foreground-right text-center">
        <h2 class="mt-4 mb-10 fs-7 fs-md-9">Want to see what services we have?</h1>
          </br>
          <a href="services.html" class="btn btn-fallbtn btn-lg">Services Available</a>
      </div>
    </div>
  </section>
  <!-- "call to action" section end -->

  <!-- footer start -->
  {% include 'includes/footer.html' %}
  <!-- footer end -->

  <script src="assets/js/vendor.js"></script>
  <script src="assets/js/polyfills.js"></script>
  <script src="assets/js/app.js"></script>
  <script src="assets/js/lightbox.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>

</html>
