<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>E.Y.C. | Gallery</title>

  <link rel="stylesheet" href="assets/css/vendor.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.css">
</head>

<body data-spy="scroll" data-target="#header-navbar" data-offset="140">

  <div id="page-start-anchor"></div>

  <!-- header start -->
  {% include 'includes/header.html' with {ctaButton: {text: 'Request Quote', href: '#'}} %}
  <!-- header end -->

  <!-- main hero start -->
  <section class="hero hero-fullscreen jarallax" data-video="mp4:assets/video/bg.mp4,webm:assets/video/bg.webm" data-speed="0.2" style="min-height: calc(100vh - 140px)">
    <div class="hero-background">
      <img src="assets/images/image-28.jpg" alt="hero background" class="jarallax-img" />
      <div class="hero-background-overlay" style="background-color: rgba(0,0,0,.5)"></div>
    </div>
    <div class="hero-foreground container d-flex flex-column justify-content-center">
      <div class="py-14 py-md-23 py-lg-25 text-center text-lg-left">
        <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
          haircuts, color, makeup, nail
        </small>
        <h1 class="fs-10 fs-lg-11 mt-6 mb-16 font-weight-bold text-white">Beauty Salon<br />Los Angeles</h1>
        <a href="#" class="btn btn-lg btn-primary">Book online</a>
      </div>
    </div>
  </section>
  <!-- main hero end -->
  <div class="section-content container mt-20">
    <div class="image-slider">
      <a href="#" class="image-slider-prev d-none d-md-flex">
        <i class="material-icons">arrow_back</i>
      </a>
      <a href="#" class="image-slider-next d-none d-md-flex">
        <i class="material-icons">arrow_forward</i>
      </a>
      <div class="image-slider-contents">
        <div class="image-slider-item">
          <img src="assets/images/image-26.jpg" alt="image" class="object-fit-cover w-100" height="600" />
        </div>
        <div class="image-slider-item">
          <img src="assets/images/image-27.jpg" alt="image" class="object-fit-cover w-100" height="600" />
        </div>
      </div>
    </div>
    <div class="bg-primary p-19 p-lg-20 d-flex justify-content-between flex-column flex-lg-row">
      <p class="mb-lg-0 text-white" style="max-width: 700px">Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
        nostrud exercitation ullamco.</p>
      <a href="contact.html" class="btn btn-white-primary">Request a Quote</a>
    </div>
  </div>
  <!-- "our work" section start -->
  <section class="section bg-secondary" id="our-work">
    <div class="section-content text-center container">
      <div class="d-flex justify-content-center justify-content-md-between align-items-end">
        <div class="text-center text-md-left">
          <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
            Our lovely clients
          </small>
          <h1>Our Work</h1>
        </div>
        <div class="d-none d-md-block">
          <div class="btn-group">
            <div class="radio-buttons-group border-0" data-toggle="shuffle-grid" data-target="#projects-grid">
              <button class="btn btn-light selected" data-value="all">All</button>
              <button class="btn btn-light" data-value="haircut">Haircuts</button>
              <button class="btn btn-light" data-value="makeup">Makeup</button>
            </div>
          </div>
        </div>
      </div>
      <div class="shuffle-grid shuffle-grid-gap-14 shuffle-grid-cols-1 shuffle-grid-cols-md-2 shuffle-grid-cols-xl-4 mt-14" id="projects-grid">
        <div class="shuffle-grid-item" data-groups="makeup">
          <div class="card card-square bg-transparent border-0">
            <div class="card-bg" style="background-image: url(assets/images/image-55.jpg)"></div>
            <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
            <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
              <i class="material-icons fs-8">zoom_in</i>
            </div>
            <a href="#" class="card-link-overlay"></a>
          </div>
        </div>
        <div class="shuffle-grid-item" data-groups="haircut">
          <div class="card card-square bg-transparent border-0">
            <div class="card-bg" style="background-image: url(assets/images/image-56.jpg)"></div>
            <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
            <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
              <i class="material-icons fs-8">zoom_in</i>
            </div>
            <a href="#" class="card-link-overlay"></a>
          </div>
        </div>
        <div class="shuffle-grid-item" data-groups="makeup">
          <div class="card card-square bg-transparent border-0">
            <div class="card-bg" style="background-image: url(assets/images/image-57.jpg)"></div>
            <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
            <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
              <i class="material-icons fs-8">zoom_in</i>
            </div>
            <a href="#" class="card-link-overlay"></a>
          </div>
        </div>
        <div class="shuffle-grid-item" data-groups="haircut,makeup">
          <div class="card card-square bg-transparent border-0">
            <div class="card-bg" style="background-image: url(assets/images/image-58.jpg)"></div>
            <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
            <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
              <i class="material-icons fs-8">zoom_in</i>
            </div>
            <a href="#" class="card-link-overlay"></a>
          </div>
        </div>
        <div class="shuffle-grid-item" data-groups="haircut,makeup">
          <div class="card card-square bg-transparent border-0">
            <div class="card-bg" style="background-image: url(assets/images/image-59.jpg)"></div>
            <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
            <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
              <i class="material-icons fs-8">zoom_in</i>
            </div>
            <a href="#" class="card-link-overlay"></a>
          </div>
        </div>
        <div class="shuffle-grid-item" data-groups="makeup">
          <div class="card card-square bg-transparent border-0">
            <div class="card-bg" style="background-image: url(assets/images/image-60.jpg)"></div>
            <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
            <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
              <i class="material-icons fs-8">zoom_in</i>
            </div>
            <a href="#" class="card-link-overlay"></a>
          </div>
        </div>
        <div class="shuffle-grid-item" data-groups="haircut">
          <div class="card card-square bg-transparent border-0">
            <div class="card-bg" style="background-image: url(assets/images/image-61.jpg)"></div>
            <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
            <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
              <i class="material-icons fs-8">zoom_in</i>
            </div>
            <a href="#" class="card-link-overlay"></a>
          </div>
        </div>
        <div class="shuffle-grid-item" data-groups="makeup">
          <div class="card card-square bg-transparent border-0">
            <div class="card-bg" style="background-image: url(assets/images/image-62.jpg)"></div>
            <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
            <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
              <i class="material-icons fs-8">zoom_in</i>
            </div>
            <a href="#" class="card-link-overlay"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- "our work" section end -->

  <!-- footer start -->
  {% include 'includes/footer.html' %}
  <!-- footer end -->

  <script src="assets/js/vendor.js"></script>
  <script src="assets/js/polyfills.js"></script>
  <script src="assets/js/app.js"></script>

</body>

</html>
