<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>E.Y.C. | Homepage</title>

  <link rel="stylesheet" href="assets/css/vendor.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.css">
</head>

<body>

  <div id="page-start-anchor"></div>

  <!-- header start -->
  {% include 'includes/header.html' with {ctaButton: {text: 'Request Quote', href: '#'}} %}
  <!-- header end -->

  <!-- main hero start -->
  <section class="hero hero-fullscreen jarallax" data-speed="0.2" style="min-height: calc(100vh - 140px)">
    <div class="hero-background">
      <img src="assets/images/image-04.jpg" alt="hero background" class="jarallax-img" />
    </div>
    <div class="hero-foreground d-flex flex-column justify-content-center">
      <div class="d-flex align-items-center justify-content-center py-14 py-md-23 py-lg-25">
        <div class="card border-0 text-center mx-15 mx-lg-0 bg-white-90" style="max-width: 770px">
          <div class="card-body text-body p-10 p-lg-22">
            <small class="fs-2 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption">
              What do we do?
            </small>
            <h2 class="text-black fs-6 fs-md-9 fs-lg-11 lh-lg-12 mb-10"> Everything You Can't Landscaping LLC</h2>
            <p class="fs-4 fs-md-5 mb-10 mx-auto" style="max-width: 530px">

            </p>
            <a href="about.html" class="btn btn-lg btn-fallbtn">How do we do it?</a>

            <a href="contact.html" class="btn btn-lg btn-fallbtn">Request a Quote</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- main hero end -->

  <!-- footer start -->
  {% include 'includes/footer.html' %}
  <!-- footer end -->

  <script src="assets/js/vendor.js"></script>
  <script src="assets/js/polyfills.js"></script>
  <script src="assets/js/app.js"></script>
</body>

</html>
