<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>E.Y.C | Services</title>

  <link rel="stylesheet" href="assets/css/vendor.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.css">
</head>

<body data-spy="scroll" data-target="#header-navbar" data-offset="140">

  <div id="page-start-anchor"></div>

  <!-- header start -->
  {% include 'includes/header.html' with {ctaButton: {text: 'Request Quote', href: '#'}} %}
  <!-- header end -->

  <!-- main hero start -->
  <section class="hero hero-fullscreen jarallax" data-speed="0.2" style="min-height: calc(100vh - 140px)">
    <div class="hero-background">
      <img src="assets/images/image-17.jpg" alt="hero background" class="jarallax-img" />
      <div class="hero-background-overlay" style="background-color: rgba(0,0,0,.5)"></div>
    </div>
    <div class="hero-foreground container d-flex flex-column justify-content-center">
      <div class="py-14 py-md-23 py-lg-25">
        <div class="d-flex flex-column justify-content-center align-items-center text-center">
          <h1 class="fs-10 fs-lg-11 mb-0 font-weight-bold text-white">Everything you could ever need</h1>
          <p class="mt-7 mb-10 text-white fs-5" style="max-width: 530px">We offer a wide selection of services to our
            customers take a look at the page below to find out more.</p>
          <a href="contact.html" class="btn btn-lg btn-primary">Request a Quote</a>
        </div>
        <div class="row align-items-center mt-14 mt-md-23 mt-lg-25">
          <div class="col-12 col-md-4">
            <div class="card border-0 bg-transparent mb-10 mb-md-0">
              <div class="card-body p-0 text-center">
                <div class="card-icon text-white mb-6"><i class="material-icons">location_on</i></div>
                <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-white-75">
                  Our location
                </div>
                <p class="mb-0 text-white">S. Windsor, CT</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="card border-0 bg-transparent mb-10 mb-md-0">
              <div class="card-body p-0 text-center">
                <div class="card-icon text-white mb-6"><i class="material-icons">phone</i></div>
                <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-white-75">
                  Contact phone
                </div>
                <p class="mb-0 text-white">123-456-7890</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="card border-0 bg-transparent">
              <div class="card-body p-0 text-center">
                <div class="card-icon text-white mb-6"><i class="material-icons">verified_user</i></div>
                <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-white-75">
                  License number
                </div>
                <p class="mb-0 text-white"># 706109</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- main hero end -->


  <!-- "services" section start -->
  <section class="section bg-secondary" id="services">
    <div class="section-content container">
      <div class="d-flex justify-content-center justify-content-md-between align-items-end">
        <div class="text-xs-block text-sm-block text-md-block">
          <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
            What we do the best
          </small>
          <h1>Services</h1>
        </div>
      </div>
      <div class="d-flex justify-content-center justify-content-md-between align-items-end">

        <div class="d-xs-block d-sm-block d-md-block">
          <div class="btn-group">
            <div class="radio-buttons-group border-0" data-toggle="shuffle-grid" data-target="#services-grid">
              <button class="btn btn-light" data-value="Spring">Spring</button>
              <button class="btn btn-light" data-value="Summer">Summer</button>
              <button class="btn btn-light" data-value="Fall">Fall</button>
              <button class="btn btn-light" data-value="Winter">Winter</button>
            </div>
          </div>
        </div>
      </div>
      <div class="shuffle-grid shuffle-grid-gap-14 shuffle-grid-cols-1 shuffle-grid-cols-lg-2 mt-14" id="services-grid">
        <div class="shuffle-grid-item" data-groups="Spring">
          <div class="card border-0">
            <div class="row no-gutters">
              <div class="col-sm-4 position-relative">
                <img src="assets/images/image-18.jpg" class="img-overlay" alt="photo">
              </div>
              <div class="col-sm-8">
                <div class="card-body py-11 px-14">
                  <h2 class="fs-5 fs-md-6 fs-lg-7">Kitchen Remodeling</h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shuffle-grid-item" data-groups="Summer">
          <div class="card border-0">
            <div class="row no-gutters">
              <div class="col-sm-4 position-relative">
                <img src="assets/images/image-19.jpg" class="img-overlay" alt="photo">
              </div>
              <div class="col-sm-8">
                <div class="card-body py-11 px-14">
                  <h2 class="fs-5 fs-md-6 fs-lg-7">Bathroom Remodeling</h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shuffle-grid-item" data-groups="Fall">
          <div class="card border-0">
            <div class="row no-gutters">
              <div class="col-sm-4 position-relative">
                <img src="assets/images/image-20.jpg" class="img-overlay" alt="photo">
              </div>
              <div class="col-sm-8">
                <div class="card-body py-11 px-14">
                  <h2 class="fs-5 fs-md-6 fs-lg-7">Flooring</h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shuffle-grid-item" data-groups="Fall, Winter">
          <div class="card border-0">
            <div class="row no-gutters">
              <div class="col-sm-4 position-relative">
                <img src="assets/images/image-21.jpg" class="img-overlay" alt="photo">
              </div>
              <div class="col-sm-8">
                <div class="card-body py-11 px-14">
                  <h2 class="fs-5 fs-md-6 fs-lg-7">Roofing</h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shuffle-grid-item" data-groups="Fall">
          <div class="card border-0">
            <div class="row no-gutters">
              <div class="col-sm-4 position-relative">
                <img src="assets/images/image-22.jpg" class="img-overlay" alt="photo">
              </div>
              <div class="col-sm-8">
                <div class="card-body py-11 px-14">
                  <h2 class="fs-5 fs-md-6 fs-lg-7">Windows & Doors</h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shuffle-grid-item" data-groups="Spring, Summer">
          <div class="card border-0">
            <div class="row no-gutters">
              <div class="col-sm-4 position-relative">
                <img src="assets/images/image-23.jpg" class="img-overlay" alt="photo">
              </div>
              <div class="col-sm-8">
                <div class="card-body py-11 px-14">
                  <h2 class="fs-5 fs-md-6 fs-lg-7">Painting</h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-19 mt-lg-20 text-center">
        <a href="contact.html" class="btn btn-lg btn-primary">Request a Quote</a>
      </div>
    </div>
  </section>
  <!-- "services" section end -->

  <!-- "call to action" section start -->
  <section class="section jarallax text-white" data-jarallax data-speed="0.2">
    <img class="section-background-image jarallax-img" src="assets/images/image-13.jpg" alt="background image" />
    <div class="section-background-color" style="background-color: rgba(0, 0, 0, 0.2)"></div>
    <div class="section-content container d-flex flex-column align-items-center">
      <span class="badge badge-pill badge-ghost fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption">
        Easy 3 steps online booking
      </span>
      <h1 class="mt-5 mb-17 fs-9 fs-md-10">Ready to get some work done?</h1>
      <a href="contact.html" class="btn btn-lg btn-primary">Request a Quote</a>
    </div>
  </section>
  <!-- "call to action" section end -->

  <!-- footer start -->
  {% include 'includes/footer.html' %}
  <!-- footer end -->

  <script src="assets/js/vendor.js"></script>
  <script src="assets/js/polyfills.js"></script>
  <script src="assets/js/app.js"></script>
</body>

</html>
