<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>E.Y.C | Testimonials</title>

  <link rel="stylesheet" href="assets/css/vendor.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.css">
</head>

<body data-spy="scroll" data-target="#header-navbar" data-offset="140">

  <div id="page-start-anchor"></div>

  <!-- header start -->
  {% include 'includes/header.html' with {ctaButton: {text: 'Request Quote', href: '#'}} %}
  <!-- header end -->

  <!-- main hero start -->
  <section class="hero hero-fullscreen jarallax" data-speed="0.2" style="min-height: calc(100vh - 140px)">
    <div class="hero-background">
      <img src="assets/images/image-29.jpg" alt="hero background" class="jarallax-img" />
      <div class="hero-background-overlay" style="background-color: rgba(0,0,0,.25)"></div>
    </div>
    <div class="hero-foreground hero-foreground-gradient-black-left d-flex flex-column justify-content-center justify-content-md-end">
      <div class="container text-white py-14 py-md-23 py-lg-25 text-center text-md-left">
        <small class="fs-2 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption">
          See what our customers think!
        </small>
        <h1 class="fs-10 fs-lg-11 font-weight-bold mt-10 mb-16">
          Testimonials and<br />Reviews
        </h1>
        <div class="d-flex flex-wrap justify-content-center justify-content-md-start">
          <a href="#" class="btn btn-lg btn-gblue">View on Google</a>
          <a href="#" class="btn btn-yred btn-lg">View on Yelp</a>
        </div>
      </div>
    </div>
  </section>
  <div id="hero-end-anchor"></div>
  <!-- main hero end -->


  <!-- "testimonials" section start -->
  <section class="section" id="testimonials">
    <div class="section-content container">
      <div class="d-flex justify-content-center justify-content-sm-between align-items-center">
        <div class="text-center text-sm-left">
          <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
            Some reviews from our clients
          </small>
          <h1>Testimonials</h1>
        </div>
        <div class="d-none d-sm-block">
          <div class="btn-group">
            <button type="button" class="btn btn-light btn-square" data-toggle="card-slider" data-target="#testimonials-slider" data-action="prevSlide">
              <i class="material-icons">arrow_left</i>
            </button>
            <button type="button" class="btn btn-light btn-square" data-toggle="card-slider" data-target="#testimonials-slider" data-action="nextSlide">
              <i class="material-icons">arrow_right</i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-slider card-slider-viewport card-slider-services mt-15" id="testimonials-slider">
        <article class="card-slider-item">
          <div class="card border-light card-accent-left" data-mh="testimonials-slider">
            <div class="card-body p-19 p-md-20 d-flex flex-column">
              <div class="d-flex align-items-center">
                <img src="assets/images/yelp.svg" alt="yelp icon" width="45" class="rounded-circle" />
                <div class="ml-9">
                  <div class="text-black font-weight-medium fs-5 lh-5 mb-4">Pamela P.</div>
                  <div class="text-muted fs-3 lh-4">Bathroom remodeling</div>
                </div>
              </div>
              <blockquote class="my-14">
                <p>“Rhoncus netus et tincidunt nunc pharetra rutrum natoque, libero justo enim magnis sapien
                  finibus quisque dis, habitant quam ipsum luctus nisi posuere.”</p>
              </blockquote>
              <div class="star-rating">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_half</i>
              </div>
            </div>
          </div>
        </article>
        <article class="card-slider-item">
          <div class="card border-light card-accent-left" data-mh="testimonials-slider">
            <div class="card-body p-19 p-md-20 d-flex flex-column">
              <div class="d-flex align-items-center">
                <img src="assets/images/houzz.svg" alt="houzz icon" width="45" class="rounded-circle" />
                <div class="ml-9">
                  <div class="text-black font-weight-medium fs-5 lh-5 mb-4">Tammara</div>
                  <div class="text-muted fs-3 lh-4">Kitchen remodeling</div>
                </div>
              </div>
              <blockquote class="my-14">
                <p>“Feugiat condimentum lorem congue id dictum aenean nascetur varius tortor, euismod nec
                  parturient ullamcorper inceptos bibendum pellentesque quisque.”</p>
              </blockquote>
              <div class="star-rating mt-auto">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_border</i>
              </div>
            </div>
          </div>
        </article>
        <article class="card-slider-item">
          <div class="card border-light card-accent-left" data-mh="testimonials-slider">
            <div class="card-body p-19 p-md-20 d-flex flex-column">
              <div class="d-flex align-items-center">
                <img src="assets/images/fb.svg" alt="facebook icon" width="45" class="rounded-circle" />
                <div class="ml-9">
                  <div class="text-black font-weight-medium fs-5 lh-5 mb-4">David J.</div>
                  <div class="text-muted fs-3 lh-4">Roofing</div>
                </div>
              </div>
              <blockquote class="my-14">
                <p>“Vel volutpat elit est dignissim diam viverra quis id, placerat et maecenas nulla nec
                  nullam
                  iaculis adipiscing felis, ac vivamus eleifend ridiculus massa auctor convallis.”</p>
              </blockquote>
              <div class="star-rating mt-auto">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
              </div>
            </div>
          </div>
        </article>
        <article class="card-slider-item">
          <div class="card border-light card-accent-left" data-mh="testimonials-slider">
            <div class="card-body p-19 p-md-20 d-flex flex-column">
              <div class="d-flex align-items-center">
                <img src="assets/images/g.svg" alt="google icon" width="45" class="rounded-circle" />
                <div class="ml-9">
                  <div class="text-black font-weight-medium fs-5 lh-5 mb-4">James B.</div>
                  <div class="text-muted fs-3 lh-4">Painting</div>
                </div>
              </div>
              <blockquote class="my-14">
                <p>“Parturient hendrerit pharetra ridiculus eleifend dictumst aenean facilisi, varius etiam
                  consequat tempor vivamus lorem suspendisse laoreet, ullamcorper sem volutpat orci tellus
                  erat.”</p>
              </blockquote>
              <div class="star-rating mt-auto">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_half</i>
                <i class="material-icons">star_border</i>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- "testimonials" section end -->

  <!-- "call to action" section start -->
  <section class="section jarallax text-white" data-jarallax data-speed="0.2">
    <img class="section-background-image jarallax-img" src="assets/images/image-13.jpg" alt="background image" />
    <div class="section-background-color" style="background-color: rgba(0, 0, 0, 0.2)"></div>
    <div class="section-content container d-flex flex-column align-items-center">
      <div class="sds-block-foreground sds-block-foreground-left text-center">

        <h4 class="mt-5 mb-17 fs-9 fs-md-10">Want to see more?</h1>
        <a href="gallery.html" class="btn btn-lg btn-fallbtn">View our Gallery</a>
      </div>
    </br>
      <span class="badge badge-pill badge-ghost fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption">
        or
      </span>
    </br>
      <div class="sds-block-foreground sds-block-foreground-right text-center">
        <h4 class="mt-5 mb-17 fs-9 fs-md-10">Have any Questions?</h1>
        <a href="faq.html" class="btn btn-fallbtn btn-lg">F.A.Q.</a>
      </div>
    </div>
  </section>
  <!-- "call to action" section end -->

  <!-- footer start -->
  {% include 'includes/footer.html' %}
  <!-- footer end -->

  <script src="assets/js/vendor.js"></script>
  <script src="assets/js/polyfills.js"></script>
  <script src="assets/js/app.js"></script>
</body>

</html>
