<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="8N8LxkKMSnnqiQZa8zCnBpq4b6_ratVYc5MxXZQlMYk" />
    <meta http-equiv="Cache-control" content="public">
    <title>E.Y.C. Landscaping | Thank You!</title>

    <link rel="stylesheet" href="assets/css/vendor.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B9Z8GV735G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B9Z8GV735G');
</script>
</head>
<body>

<div id="page-start-anchor"></div>

<!-- header start -->
{% include 'includes/header.html' with {topNavbarText: true} %}
<!-- header end -->

<!-- main hero start -->
<section class="hero hero-fullscreen jarallax" data-speed="0.2" style="min-height: calc(100vh - 140px)">
  <div class="hero-background">
    <img src="assets/images/fallstock2.jpg" alt="hero background" class="jarallax-img" />
    <div class="hero-background-overlay" style="background-color: rgba(0,0,0,.25)"></div>
  </div>
  <div class="hero-foreground hero-foreground-gradient-black-left d-flex flex-column justify-content-center justify-content-md-end">
    <div class="container text-white py-14 py-md-23 py-lg-25 text-center text-md-left">
      <small class="fs-2 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption">
        Message Recived!
      </small>
      <h1 class="fs-10 fs-lg-11 font-weight-bold mt-10 mb-16">
        Your message was sent sucessfuly!<br /> Click the button below to return to the homepage:
      </h1>
      <div class="d-flex flex-wrap justify-content-center justify-content-md-start">
        <a href="index.html" class="btn btn-primary btn-lg">Return to Home</a>
      </div>
    </div>
  </div>
</section>
<div id="hero-end-anchor"></div>
<!-- main hero end -->

<!-- footer start -->
{% include 'includes/footer.html' %}
<!-- footer end -->

<script src="assets/js/vendor.js"></script>
<script src="assets/js/polyfills.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
